header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  padding: 10px;


}

.cabeca {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;


}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: extra-bold;
}

.header2 {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  list-style: none;
  margin: left;
}

.logo {
  font-size: 24px;
  color: #f9faf8;

}

.info {
  font-size: 36px;
  font-family: Arial;
  font-weight: extra-bold;
  color: #1f2937;
}

button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;

}

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #eeeeee;

}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 300px;
}
